body{
    margin: 0;
    font-family: sans-serif;
}


.box{
    width: 150px;
    height: 150px;
    background-color: #f00;
    margin: auto;
    margin-top: 50px;
    /*el borde afecta el tamaño de la imagen*/
    border: 5px solid #000;
    /*outline no afecta su tamaño normalmente lo tienen los input*/
    outline: 10px solid rgb(146, 7, 7);
    outline-offset: 10px; /*separacion del outline*/
}
input{
    margin: auto;
    margin: 50px;
}

/*para quitarle el outline a los input*/
input:focus-visible{
    outline: none;
}