body{
    background-color: #333;
    color: #ddd;
}

details{
    background-color: transparent;
    border: 1px solid #ddd;
}

details[open]{
    border: 1px solid #ddd;
    background-color: #444;
    font-weight: bold;
}


summary{
    background-color: transparent;
    padding: 9px;
}

ul{
    font-weight: 100;
}