body{
    margin: 0;
    font-family: sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
}
div{
    margin: auto;
    width: 80%;
    margin-top: 30px;
}
*{
    box-sizing: border-box;
}

img {
    max-width: 100%;
    /* Tipo de forma y desplazamiento de derecha e izquierda */
    clip-path: polygon(74% 1%, 0% 0%, 1% 99%, 88% 100%, 75% 75%, 32% 76%, 31% 55%, 61% 53%, 54% 32%, 30% 32%, 28% 20%, 74% 20%);
    /* Sombra blanca alrededor de la imagen */   
}


h3{
    color: #fff;
}

a{
    color: #fff;
}