body{
    margin: 0;
    font-family: sans-serif;
    
}

body, div{
    box-sizing: border-box;
}

nav,header, footer, aside, main{
    padding: 20px;
    border: 2px solid black;
}


header{
    width: 100%;
}
.grid{
    display: grid;
    max-width: 1200px;
    margin: auto;
    /*asignado medidas a cada columna*/
    grid-template-columns: minmax(200px,1fr) minmax(300px,3fr) minmax(200px,1fr);
    grid-template-rows: auto 1fr auto;
    grid-auto-flow: dense;
    grid-auto-columns: 1fr;
    gap: 10px 20px;
    background-color: #fff;
    /*ASIGNAR AREAS*/
    grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
}

header{
    /*le definimos lo que ocupara del grid template areas*/
    grid-area: header;
    background-color: #48e;
    color: white;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
    background-color: black;
    color: white;
}


.grid-item{
    background-color: #48e;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    background-image: url(../../HTML/4.imagenes/perfil4.jpeg);
    background-size: cover;
    }

nav, aside{
    position: sticky;
    top: 0;
    height: 90dvh;
}