.formulario{
    background-color: red;
    padding: 30px; /*Relleno de 10 px en todos los lados.*/
    margin-top: 30px; /*Separa 30px del top sin cambiar su contenido*/
}

.formulario_input{
    padding: 9px 12px;
    width: 90%;
    background: black;
    color: red;
    margin: 5px; /*las cajas se separan 5 pixeles entre si*/
}

.formulario_submit{
    letter-spacing: 2px;
    text-transform: uppercase;
    background: red;
    width: 50%;
    color: white;
}