body{
    margin: 0;
    padding: 0;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    text-align: center;
    font-size: 12px;
}

/*el contenido aumenta con los atributos*/
.box-default{
    padding: 25px;
    border: 10px solid black;
}

/*Conserva el tamaño que se le dio*/
.box-new{
    box-sizing: border-box;
    padding: 25px;
    border: 10px solid black;
}